**/__pycache__
.idea
.DS_Store
*.egg-info
build

outputs
outputs_fsq
outputs_eval
logs
tokenizers
dist/*
core

# data
data
out
wandb

torchtitan/datasets/**/*.model

# ckpts
*.pt
*.pth
*.distcp
*.npz

# temp files
*.out
*.log
error.json
_remote_module_non_scriptable.py
